<div class="jumbotron p-3">
    <div class="container">
        <h1 class="display-3">Hello, there!</h1>
        <p>All the tools you need, built-in to host an event.
            Whether your event is a conference with thousands of attendees or a small party with friends, <strong>DoDo</strong>
            gives you the power to fully-customize your event registration process
        </p>
        <p><a class="btn border-secondary btn-lg" routerLink="/about" role="button">Learn more »</a></p>
    </div>
</div>