<div *ngIf="notDeleted">
    <div class="card mb-4 shadow-sm">
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
            src="{{ event.eventImage || '/assets/images.png' }}" alt="">
        <div class="card-body">
            <p class="card-text">{{ event.eventCode }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" routerLink="/events/event/{{ event.id }}"
                        class="btn btn-outline-success">Join</button>
                    <button *ngIf="isOwner" type="button" (click)="edit()"
                        class="btn btn-outline-success">Edit</button>
                    <button *ngIf="isOwner" type="button" (click)="delete()"
                        class="btn btn-outline-success">Delete</button>
                </div>
                <small class="text-muted">Starts: <div>{{ event.startDate | date: "EE dd-MM-yyyy" }}</div></small>
            </div>
        </div>
    </div>
</div>